* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /*tira os marcadores de lista*/
    text-decoration: none;
    /*tira o sublinhado*/
    font-family: "Roboto", sans-serif;


}

body {
    background-color: rgb(250, 250, 250);
}

.interface {
    max-width: 1280px;
    /* largura maxima*/
    margin: 0 auto;
    /*centraliza o conteudo*/

    header .btn-contato button, .capa-site button {

    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    /*muda o cursor quando passa por cima */


}


}

/* estulo do headaer */

header {
    width: 100%;
    /*largura*/
    padding: 20px 0;
    /* espaçamento interno superior e inferior */
    position: fixed;/* fixa o header no topo */
    top: 0;
    left: 0;
    

}

header .interface {
    display: flex;
    /* da um espaçamento tirando um de cima do outro */
    justify-content: space-between;
    /* espaço entre os elementos */
    align-items: center;
    /* alinha os itens no centro */

}

header .logo img {
    max-width: 40px;
    /* largura maxima da logo */

}

header .menu-desktop nav ul li {

    display: inline-block;
    /* deixa os itens na horizontal */
    margin: 0 40px;
    /* espaçamento entre os itens */
}

header .menu-desktop nav ul li a {


    color: #fff;
    display: inline-block;
    transition: 0.2s;
    /* tempo de transição do efeito hover */
}

.menu-desktop nav u a:hover {
    transform: scale(1, 05);
}



header .btn-contato button:hover,  {
    background-color: #fff;
    color: rgb(27, 5, 5);
    transition: 0.3s;
    font-size: 20px;
}

section.capa-site{
    height: 98vh; /* altura da seção */
    background-image: url("../img/bg-inicio-site.jpg"); /* imagem de fundo */
    background-repeat: no-repeat; /* não repetir a imagem */
    background-size: cover;
    background-position: center; /* centralizar a imagem */
    color: #fff;

}

.capa-site .interface{

   display: flex;
   align-items: center;
    height: 100%;
}

.capa-site .txt-capa h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.capa-site .txt-capa h1 span{
    display: block;
    font-weight: 800;

}

.capa-site .txt-capa p{
    margin: 20px 0 40px 0;
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    margin: 20px 0;

}

.capa-site .txt-capa p span{

    display: block;

}

.capa-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

.capa-site button:hover{
    background-color: #fff;
    color: rgb(27, 5, 5);
    transition: 0.3s;
    font-size: 22px;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* estilos dos botões */
header .btn-contato button,
.capa-site button {
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/* efeito hover */
header .btn-contato button:hover,
.capa-site button:hover {
    background-color: #fff;
    color: rgb(27, 5, 5);
    font-size: 20px;
}